body {
    text-align: center;
    font-family: sans-serif;
}
#times {
    font-size: 120px;
    color: rgb(100, 160, 192);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.button button{
width: 200px;
height: 200px;
color: black;
font-size: 25px;
transition: .3s;
}
.button button:active {
scale: 1.1;
}
.button button:hover {
    border-radius: 20px;
}